@import '~src/styles.scss';

agm-map{
  height: 300px;
}

.main-font{
  color: white;
}

.square{
  background-color: $klimcars-dark;
  border-radius: 0px;
  margin: 10px;
  padding: 10px;
  height: 230px;
}

.addres-container{
  margin-bottom:20px;
}

.margin-address-form{
 margin-bottom: 15px;
}

.klimcars-button{
  background-color: $klimcars-red;
  border-width: 2px;
  border-color: $klimcars-dark;
  text-align: center;
  padding: 5px;
  color: white;
}

.klimcars-button:hover {
  background-color:#FF0000;
}
.klimcars-button:active {
  position:relative;
  top:1px;
}

.horizontal-line {
  background-color: $klimcars-red;
  height: 2px;
  margin: 25px;
}

.facebook-link {
  color: white;
}

.facebook-link:hover {
  color: 	#3b5998;
}

.navigate-link {
  color: white;
}

.navigate-link:hover {
  color: $klimcars-red;
}
