
  <div class="jumbotron">
    <h1>Klim Cars</h1>
<p>
  Tematem pracy jest stworzenie aplikacji służącej do obsługi restauracji. Rozbudowany system do zarządzania zamówieniami pozwala usprawnić funkcjonowanie lokalu gastronomicznego. Korzyści płynące z wdrożenia systemu informatycznego do restauracji są odczuwalne zarówno dla klienta, obsługi jak i właściciela restauracji. Kolejno klient będzie posiadać dodatkową formę składania zamówień, pracownicy będą posiadać mniejszy zakres obowiązków w pracy ponieważ system może obsługiwać część zadań w procesie składania zamówienia. Korzyści dla właściciela restauracji również są znaczne ponieważ długofalowo pozwala zmniejszyć koszt obsługi restauracji oraz aplikacja sama w sobie jest formą reklamy.
  Celem pracy jest realizacja części funkcjonalności systemu informatycznego niezbędnych do stworzenia aplikacji mobilnej dla klienta restauracji. Będzie to aplikacja stworzona na platformę android w której będzie można wykonywać tylko przypadki użycia przewidziane dla klienta restauracji oraz aplikacja serwerowa która ma za zadanie obsługiwać zarówno przypadku użycia klientów, obsługi oraz administracji (przypadki użycia obsługi oraz administracji nie są realizowane w zakresie niniejszej pracy).

</p>
</div>


