/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";
//@import "~mdbootstrap/scss/mdb.scss";

$klimcars-red: #E00000;
$klimcars-dark: #252525;
$klimcars-bright: #353535;


body { background-color: $klimcars-bright; }
.klimcars-dark-bg{
  background-color: $klimcars-dark;
}

.klimcars-bright-bg{
  background-color: $klimcars-bright;
}

.klimcars-red-bg{
  background-color: $klimcars-red;
}

.klimcars-dark{
  color: $klimcars-dark;
}

.klimcars-red{
  color: $klimcars-red;
}

.img-width-full-screen{
  width: 100%;
  height: auto;
}

